.register {
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
        rgb(255, 255, 255, 0.5),
        rgb(255, 255, 255, 0.5)
        ),
        url("https://images.unsplash.com/photo-1556742044-3c52d6e88c62?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80");
    background-size: cover;
}

.registerTitle{
    font-size: 50px;
}

.registerForm{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.registerForm > label{
    margin: 10px 0px;
}

.registerInput{
    border-color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
}

.registerButton{
    margin-top: 20px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(7, 145, 94);
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.registerLoginButton{
    position: absolute;
    top: 60px;
    right: 20px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(231, 44, 122);
    color: white;
    cursor: pointer;
}